* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Share color */
.primary {
    color: #FD6E0A;
}

.btn-primary {
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 28px;
    font-weight: 700;
    line-height: 27px;
    border-radius: 5px;
    padding: 18px 19px;
    background: rgb(253, 110, 10);
    border: none;
    cursor: pointer;
}

/* navigation css  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 223px;
}

nav h1 {
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 800;
    line-height: 61px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav li a {
    text-decoration: none;
    color: black;
}


/* Start banner css */
#banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom left, right bottom;
    background-size: contain, auto;
}

.banner-info {
    margin-left: 230px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.banner-info h3 {
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 600;
    line-height: 61px;
}

.banner-info h1 {
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 85px;
    font-weight: 700;
    line-height: 116px;
}

.banner-info p {
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 585px;
}

/* End banner css */

/* Starts About css here */
#about {
    width: 1140px;
    height: 550px;
    border-radius: 10px;
    background: rgb(255, 248, 243);
    margin: 130px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-content{
    border: 3px solid #a09e9e;
    text-align: center;
}
#about h1 {
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
}

#about p {
    width: 827px;
    height: 120px;
    text-align: center;
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 30px 0;
}


.about-info {
    display: flex;
    gap: 50px;
}

.about-info h5 {
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}

.about-info h4 {
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

/* Ends About css here */